* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main {
  width: 50%;
}
.section_1 {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.section_1 h2 {
  font-size: 1.5rem;
}
.section_1 p {
  font-size: 1.3rem;
}
.section_1 img {
  height: 50vh;
  width: 100%;
}
.section_2 {
  height: 40vh;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.section_2 img {
  height: 70%;
}
.section_2 p {
  font-size: 1.1rem;
}
.section_2 input {
  font-size: 1rem;
  padding: 1rem;
  background: transparent;
  border: 2px solid #8dc1d6;
  color: black;
  font-weight: 700;
}
.section_2_in {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.section_3 {
  height: 40vh;
  display: flex;
  align-items: center;
}
.section_3 img {
  height: 70%;
}
.section_3 p {
  font-size: 1.1rem;
}
.section_3 input {
  font-size: 1rem;
  padding: 1rem;
  background: transparent;
  border: 2px solid #8dc1d6;
  color: black;
  font-weight: 700;
}
.section_3_in {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.section_4 {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.section_4_head {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.section_4_head p {
  font-size: 1.3rem;
}
.section_4 img {
  height: 100px;
}
.section_4_in {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-columns: 100px;
  gap: 1rem;
  text-align: center;
}
.section_5 {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 20vh;
}
.section_5 p {
  font-size: 1.2rem;
}
.section_5 img {
  height: 80px;
}
.section_6 {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 20vh;
}
.section_6 p {
  font-size: 1.2rem;
}
.section_6 img {
  height: 80px;
}
